* {
    box-sizing: border-box;
}

body {
    background: black;
    background-image: linear-gradient(90deg, rgba(81,81,89,1), rgb(155,155,155));
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

img {
    border-radius: 50%;
}

.perfil__icono {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: auto;
    max-width: 100px;
}

.perfil__nombre {
    text-align: center;
    padding: auto;
}

.perfil__descripcion {
    text-align: center;
    padding: auto;
}

.perfil__rs {
    margin-left: 42%;
    margin-top: 1%;
}

div.perfil__rs {
    margin: auto;
    column-gap: 5px;
    text-align: center;
    margin-top: 5px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

div.perfil__rs a {
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 2px;
}

.fa {
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.fa:hover {
    opacity: 0.7;
    color: #d37a42;
}

.perfil__links a {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-width: 2px;
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    text-decoration: none;
}

.perfil__links a:hover {
    color: #d37a42;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}


